__pycache__
testing/
wandb/
audio/
delete/
outputs_old/
app/*.csv
app/templates/
app/*.md
pipeline/outputs/
pipeline/outputs*/
*.pt
*.log
*.wav
*.WAV
*.mp3
*.tif
*.whl
*.nc
.env
*.err
*.out
*.db
*.db-shm
*.db-wal
*.bin
*.csv
*.sql
*.parquet
*.tar
outputs/
chunk_files*/
chunk_files.zip
slurm_output*/
slurm_output*
acoustic_indices/outputs/
acoustic_indices/chunk_files*/
acoustic_indices/slurm_output*/
acoustic_indices/computation_one_bugg/
