__pycache__
testing/
wandb/
audio/
delete/
outputs_old/
app/*.csv
app/templates/
app/*.md
pipeline/outputs/*.csv
pipeline/outputs/*.json
pipeline/outputs/temp
*.pt
*.log
*.wav
*.WAV
*.mp3
*.tif
*.whl
*.nc
.env
*.err
*.out
*.db
*.db-shm
*.db-wal
*.bin
*.csv
*.sql
*.parquet
*.tar
chunk_files.zip
chunk_files/
chunk_files_2025-05-14/
outputs_db/
